<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       		http://www.springframework.org/schema/beans/spring-beans.xsd
       		http://www.springframework.org/schema/context
       		http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-autowire="byName">
    <!-- 启动AOP -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <context:component-scan base-package="com.bibabo.spring.aop"/>

    <bean id="wareInfoExtensionServiceImpl" class="com.bibabo.spring.aop.WareInfoExtensionServiceImpl"/>
    <bean id="wareInfoExtensionServiceImpl2" class="com.bibabo.spring.aop.WareInfoExtensionServiceImpl2"/>
    <!-- CMS方法层切面：接口超时子链路熔断 -->
    <bean id="fuseTerminatorAspect" class="com.bibabo.spring.aop.FuseTerminatorAspect"/>
    <!-- 批量渲染商品链路熔断 -->
    <!--<aop:config>
        <aop:pointcut id="apiMethodPointcut"
                      expression="execution(* com.bibabo.spring.aop.WareInfoExtensionServiceImpl.*(..))"/>
        <aop:advisor pointcut-ref="apiMethodPointcut" advice-ref="fuseTerminatorAspect" order="0"/>
    </aop:config>-->

    <!--expression="execution(public * com.bibabo.spring.aop.WareInfoExtensionServiceImpl.*(..))"/>-->
    <!--<aop:config>
        <aop:pointcut id="apiMethodPointcut"
                      expression="execution(* com.bibabo.spring.aop.WareInfoExtensionServiceImpl.getWareInfo(..))"/>
        <aop:advisor pointcut-ref="apiMethodPointcut" advice-ref="fuseTerminatorAspect" order="0"/>
    </aop:config>-->

    <aop:config>
        <aop:pointcut id="apiMethodPointcut"
                      expression="execution(public * com.bibabo.spring.aop..*.*(..))"/>
        <aop:advisor pointcut-ref="apiMethodPointcut" advice-ref="fuseTerminatorAspect" order="0"/>
    </aop:config>
</beans>